<html>

<head>

    <title>
        Solution to Problem 1 of Activity 1.
    </title>

    <style>
        html {

          background-color: rgb(213, 233, 147);
        }

        H1 {
            color: black;
            background-color: white;
            border: 25px solid rgb(232, 3, 3);
            margin: auto;
            width: 20%;
        }

        span {
            color: rgb(9, 39, 236);
            font-size: 25px;
            font-weight: bold;
            margin-left: 35%;
        }
    </style>


</head>

<body>
    <p>
        <span>Solution to Problem 1 of Activity 1.</span>
        <H1><center>DOM</center></H1>

        </br>
        <img src="/image/DOM.jpg" width="200%">

    </p>
</body>

</html>
